{% extends 'base.html' %}
{% block title %}Join the Project{% endblock %}

{% block content %}

<p>Join in with the Public Whip project, or examine and use the source code behind it.</p>

<ul> 
<li>Make sure you are <a href="../account/register.php">signed up to our
newsletter</a>.</li>
</ul>

<ul>
<li><a href="research.php">Research parliament</a> &mdash; work with others to understand divisions.</li>
<li><a href="data.php">Raw data</a> &mdash; load the votes into your favourite spreadsheet, and more.</li>
<li><a href="code.php">Source code</a> &mdash; instructions on using it for programmers.</li>
<li><a href="liaison.php">Hansard website correcting</a> &mdash; to improve their HTML.</li>
</ul>

<p>If you would like to do something in particular, or offer your help
in general, don't hesitate to email us <a
href="mailto:team@publicwhip.org.uk">team@publicwhip.org.uk</a>.</p>

{% endblock %}
